@import "../base.css";

.GetStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  margin-top: -2rem;
}

.GetStarted h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 0.2rem;
}

.GetStarted h2 {
  font-size: 2.3rem;
}

.GetStarted ol {
  display: flex;
  width: 350px;
  margin-left: -2rem;
}
.GetStarted ol li {
  font-family: "Permanent Marker", sans-serif;
  flex-grow: 1;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  list-style-type: none;
}

.GetStarted button {
  background-color: #497adb;
  color: gold;
  margin-top: 2rem;
  padding: 1rem;
}

.GetStarted button:hover {
  color: gold;
  color: #fff;
}
.GetStarted button:active {
  color: #eee;
}
